DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=db
DB_SSLMODE=disable

# JWT
JWT_SECRET=change_me_in_production

# Admin bootstrap
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=ChangeMe

APP_BASE_URL=http://localhost:8080

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email@gmail.com
SMTP_PASS=pass smtp
SMTP_FROM=Fleet Sorint <from@gmail.com>
APP_URL=http://localhost:5173

# Google OAuth backend
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID

#PDF
PDF_SIGNER_NAME=Nome Cognome

#GOTEMBERG
GOTENBERG_URL=http://localhost:3000
