*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

.env
.env.local
.env.*.local
*.env

__debug_bin
debug

*.test
*.out
coverage.txt
coverage.html
vendor/
.idea/
*.iwu
*.iws

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

.DS_Store
Thumbs.db
